body{
    
    font-family: 'Big Shoulders Stencil Text', cursive;
    margin: 0px;
}
.menu{
    padding-left: 75%;
    margin-top: 30px;
 
}
.list{
margin: 10px;
padding-left: 20px;
text-decoration: none;
}
h1{
font-size:50px;
margin-top: 30px;
margin-bottom: 30px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
    color: rgb(43, 60, 71);
    margin-bottom: 50px;
}
.sky-highlight{
    color: rgb(23, 232, 240);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;  
}
.project-width{
height: 500px;
width: 25%;
padding: 2%;
margin: 2%;
float: left;
border: 2px gray;
border-radius: 7px;
box-shadow: 10px 10px 5px gray;

}

section{
height: 400px;
padding-bottom: 100px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(235, 168, 23),#7bf509);
    padding: 10px 45px;
    border-radius: 6px;
    color: white;
    font-weight: bold;   
}

.gym{
    height: 150px;
    width: 49%;
    float: left;
    margin-right: 1px;
    margin-bottom: 30px;
}
.work{
  margin-top: 200px;
  margin-left: 230px;
  height:160px;
  width: 70%;

}
.icon-section{
margin-top: 100px;

}



.project-area h1{
    text-align: center;
    margin-top:200px;
}
 .icon-section h1{
    text-align: center;
 
}
.icon-section h2{
    text-align: center;
}
img icon-section{
    position: center;
}

.bunas{

    margin-left: 10px;
    width: 22%;
    height: 300px;
    border-right: 1px solid gray;
    float: left;
    padding-top: 60px;
}
.bunas-pic{
    height: 100px;
    width:90%;
}

footer{
text-align: center;
font-size: 20px;
}